/* Estilos de la barra lateral */
#principal{
    width: 1600px;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(49, 51, 56, 1);
}

#searchBox {
    display: flex;
    bottom: 0;
    padding: 5px;
    border-radius: 3px;
    background: none;
    border: 1px solid white;
    color: white;
    margin: 5px;
}

.navigation{
    display: flex;
    padding: 8px;
    height: 40px;
    flex-direction: row-reverse;
    background-color: rgba(49, 51, 56, 1);
    border-bottom: 1px solid white;
    position: fixed;
    top: 0px;
    left: 440px;
    width: -webkit-fill-available;
    align-items: center;
    padding-right: 20px;
}

.principal-body{
    display: flex;
    overflow: hidden;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: fixed;
    top: 57px;
    left: 440px;
    background-color: rgba(49, 51, 56, 1);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Esto centrará la columna de la barra lateral y el panel-canal en el centro de la página */
    height: 100vh;
    /* Esto asegura que la columna sea del 100% de alto de la ventana del navegador */
}

/* Estilos del contenedor-flex (columnas) */
.contenedor-flex {
    display: flex;
    justify-content: space-between;
    /* Esto separará la barra lateral y el panel-canal */
    width: 100%;
    /* Esto limitará el ancho máximo de todo el contenido */
}

.barra-lateral {
    background-color: rgba(49, 51, 56, 1);
    color: #fff;
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 20px;
}

.servidores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canales{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-lateral h2 {
    font-size: 10px;
    margin: 5px;
    text-transform: uppercase;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral li {
    margin-bottom: 5px;
}

.barra-lateral a {
    display: flex;
    color: #fff;
    background-color: #444;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.barra-lateral a:hover {
    background-color: #555;
}

/* Estilos del panel de canal */
.panel-canal {
    background-color: rgba(49, 51, 56, 1);
    color: #cfcfcf;
    width: 298px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 100px;
    overflow-y: auto;
    padding: 20px;
    z-index: 0;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.panel-canal header {
    background-color: rgba(49, 51, 56, 1);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.panel-canal h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.dropdown-canales {
    margin-bottom: 20px;
}

.dropdown-canales select {
    background-color: rgba(49, 51, 56, 1);
    color: white;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #6a6a6a;
    border-radius: 50%;
    margin-right: 10px;
}

.informacion-usuario p {
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}

.iconos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icono {
    font-size: 20px;
    padding: 5px;
    fill: white;
}

/* Mensaje */
.mensajes{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

/* Estilos del contenedor principal */
.contenedor-principal {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: center;
    height: 85%;
    width: -webkit-fill-available;
}

/* Estilos del campo de entrada de mensajes */
.campo-mensaje {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
}

#enviarMensaje :hover{
    font-size: 25px;
}

#mensajeInput {
    display: flex;

    padding: 15px;
    border-radius: 3px;
    background: none;
    border: 1px solid white;
    color: white;
    margin: 20px;
    width: -webkit-fill-available;
}

/* Estilos de los mensajes (puedes personalizarlos según tus necesidades) */
.message-user {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(39, 168, 39, 0.644);
    box-shadow: 1px 2px rgb(5, 20, 5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    margin-right: 35px;
    align-self: flex-end;
}

.message-received {
    display: flex;
    flex-direction: row;
    background: rgba(39, 168, 162, 0.185);
    border: 1px solid white;
    box-shadow: 1px 2px rgb(5, 20, 5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 35px;
    align-self: flex-start;
}

.message-received .message-hour{
    color: rgba(255, 255, 255, 0.822);
    margin-right: 10px;
    font-size: 11px;
    align-self: end;
}

.message-user .message-hour{
    color: rgba(255, 255, 255, 0.822);
    margin-left: 10px;
    font-size: 11px;
    align-self: end;
}

.message-value{
    margin-bottom: 5px;
    font-size: 17px;
}


